<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex App</title>
</head>
<body>
    <div>
        <h2><%= pokemon.name %></h2>
        <div>
            <img src="<%= pokemon.img %>">
        </div>
        <ul> Types:
            <% pokemon.type.forEach((type)=>{ %>
                <li><%= type %></li>    
            <% }) %>   
        </ul>
        <div>
            Stats:
                <br>
                HP: <%= pokemon.stats.hp %>
                <br>
                Attack: <%= pokemon.stats.attack %>
                <br>
                Defense: <%= pokemon.stats.defense %>
        </div>     
    </div>
    
</body>
</html>